{% extends "subnav_base.html" %}

{% load i18n %}

{% block extra_head %}
    <link rel="stylesheet" href="{{ STATIC_URL }}pinax/css/account.css" />
{% endblock %}

{% block body_class %}ads{% endblock %}

{% block subnav %}
    <h1>{% trans "Payments" %}</h1>
    <ul>
        <li><a href="{% url payment_payments %}">{% trans "Payment Summary" %}</a></li>
        <li><a href="{% url payment_topup %}">{% trans "Topup Account" %}</a></li>
        <li><a href="{% url payment_pay_invoice %}">{% trans "Pay Invoice" %}</a></li>
    </ul>
{% endblock %}
